.tablecommon {
  margin-top: 20px;
  width: 100%;
}
.details {
  width: 50%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: deepskyblue;
  font-weight: bold;
}

.divTable {
  margin-top: 20px;
  width: 100%;
}
